{{ if lt (sub now.YearDay .Date.YearDay) 0 }}
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }} ({{ .Date.Format "2006" }} - Upcoming)</a></h3>
{{ else }}
<h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }} ({{ .Date.Format "2006" }})</a></h3>
{{ end }}
<h4>{{ .Params.Role }} | {{ .Params.Theatre }}</h4>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content" style="width:200px;">
    {{with  .Params.image }}
      <img src="{{ . }}" style="max-height:150px;max-width:150px;"/>
    {{ end }}
  </div>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{.Permalink}}">{{ i18n "readmore" }}</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div>
